.play-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid hsla(0, 0%, 100%, .14);
  background: hsla(0,0%,100%,.14);
  
  &:hover {
    background: hsla(0,0%,100%,.44);
  }

  & .play-icon {
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }
}