.daily-push {
  flex-basis: 48%;
  height: 198px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 1rem;
  position: relative;

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: move 38s infinite;
    animation-direction: alternate;
    z-index: -1;
  }

  & .content {
    height: 100%;
    align-items: center;

    & .text-box {
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 25px;
      background: linear-gradient(270deg,transparent,rgba(0,0,0,.28));
    }
    & .text {
      font-size: 64px;
      font-weight: var(--fontBold);
      width: 148px;
      line-height: 74px;
      letter-spacing: 10px;
    }
  }

  & .play-button {
    align-self: flex-end;
    margin: 0 1.6rem 1.4rem 0;
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}