:root {
  --colorBlue: #335eea;
  --colorBodyBg: #222222;
  --colorNavBg: #222222db;
  --colorText: #fff;
  --defaultBox: {
    color: var(--colorBlue);
    background-color: var(--colorBodyBg);
  }
  --fontSize16: 16px;
  --borderRidus: 10px;
  --fontSize12: 12px;
  --opacityMid: .68;
  --fontBold: 700;
  --optionsBg: hsla(0,0%,100%,0.08);
}

body {
  background-color: var(--colorBodyBg);
  color: var(--colorText);
}
