.play-item {
  width: 18.5%;

  &.actor-item {
    text-align: center;
    font-size: var(--fontSize16);

    & .item-img {
      & img {
        border-radius: 50%;
      }
    }

    & .item-title {
      margin-top: 12px;
    }
  }

  & .item-img {
    /* overflow: hidden; */
    font-size: 0px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;

    &:hover .play-button {
      opacity: 1;
      visibility: visible;
    }
    &:hover .bg {
      display: block;
    }
    & .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }

    & .bg {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 10px;
      transform: scale(.95);
      filter: blur(16px) opacity(0.6);
      display: none;
    }

    & img {
      max-width: 100%;
      border-radius: var(--borderRidus);
    }
  }

  & .item-title {
    font-size: var(--fontSize16);
    line-height: 20px;
  }
  & .item-describe {
    font-size: var(--fontSize12);
    line-height: 18px;
    opacity: var(--opacityMid);
  }
}
