.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  border-radius: 8px;
  width: 200px;
  background: var(--optionsBg);

  &.active {
    & svg {
      opacity: 1;
    }
  }

  & svg {
    margin: 0 6px 0 8px;
    width: 15px;
    height: 15px;
    opacity: .28;
    color: var(--colorText);
  }

  & .search-wrapper {
    flex: 1;

    & input {
      width: 100%;
      border: none;
      background: none;
      outline: none;
    }
  }
}
