.nav {
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
  align-items: center;
  position: fixed;
  top: 0;
  background: var(--colorNavBg);
  width: 100%;
  color: var(--colorText);
  z-index: 10;
  box-sizing: border-box;

  & > div {
    flex: 1;
    display: flex;
  }
  & .nav-link {
    justify-content: center;
  }
  & .nav-right {
    justify-content: flex-end;
    align-items: center;
  }
  & a {
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 6px;
    margin: 0 12px;
    font-weight: var(--fontBold);
    &.active {
      color: var(--colorBlue);
    }
    &:hover {
      background-color: #ffffff14;
    }
  }
}
